@import "tailwindcss";

#pagination ul {
    display: flex;
    margin-top: 10px;
}

#pagination ul li{
    margin: 0 2px;
    border: 1px solid #6b7280;
    border-radius: 5px;
    cursor: pointer;
    width: 30px;
    height: 30px;
}

#pagination ul li button{
    cursor: pointer;
    width: 100%;
    height: 100%;
}

#pagination ul li:hover {
    background-color: #d8d8d8;

}

html .dark #pagination ul li:hover {
    background-color: #404040;

}
